{% block sas_block_partials_category %}
    {% set categoriesName = [] %}
    {% for category in categories %}
        {% set categoriesName = categoriesName|merge([category.name]) %}
    {% endfor %}
    <figure class="sas-category figure">
        <figcaption class="figure-caption">{% sw_icon 'folder-thumbnail' style { 'size': 'sm' } %}
            <span data-toggle="tooltip" title="{{ "sas-blog.detail.meta.category"|trans|striptags }}">{{ categoriesName|join(', ') }}</span>
        </figcaption>
    </figure>
{% endblock %}
