@import "~scss/variables";

.sas-cms-el-blog-detail {
    width: 100%;
    border: 1px solid #dadee5;
    border-radius: 4px;
    background: $color-white;
    padding: 10px;

    .sas-cms-el-blog-placeholder div {
        margin: 15px 30px;
        height: 1.5em;
        border-radius: 4px;
        background-color: $color-gray-100;

        &.sas-cms-el-sas-cms-el-blog__placeholder {
            margin: 15px 30px 15px 70px;
        }
    }

    hr {
        max-width: 90%;
        margin: 10px auto;
        border: 1px solid $color-gray-300;
    }

    h2 {
        margin: 10px;
    }
}
