{% block werkl_cms_element_blog_detail %}
    <div class="werkl-cms-el-blog-detail">
        <h2>{{ $tc('werkl-blog.elements.detail.component.elementHeadline') }}</h2>
        <sw-alert variant="info">
            {{ $tc('werkl-blog.elements.detail.component.infoText') }}
        </sw-alert>
    </div>
{% endblock %}
