//Media breakpoints
$media-breakpoint-small: 576px;
$media-breakpoint-medium: 768px;
$media-breakpoint-normal: 992px;
$media-breakpoint-large: 1200px;
$media-breakpoint-xl: 1600px;

//Colors
$theme-color-white: #FFFFFF;
$theme-color-light-gray: #F3F3F3;
$theme-color-light-blue: #EEF4F6;
$theme-color-sandstone: #DBCEBE;
$theme-color-secondary: #00FFFF;
$theme-color-blue: #8FAAC1;
$theme-color-water: #9AB7BD;
$theme-color-dark-grey: #333333;
$theme-color-blue: #494949;
$theme-color-black: #000000;
$theme-color-gray: #8A8A8A;
$theme-color-neutral-gray:#909090;