{% block sas_cms_element_blog_listing_config %}
<div class="sw-cms-el-config-blog">

    {% block sas_cms_element_blog_listing_config_paginationCount_field %}
        <sw-select-field
            v-model="element.config.paginationCount.value"
            :label="$tc('sas-blog.elements.listing.config.paginationCount')">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </sw-select-field>
    {% endblock %}

</div>
{% endblock %}
