{% block werkl_cms_element_categories_listing %}
    <div class="werkl-cms-el-categories-listing">
        <h2>{{ $tc('werkl-blog.elements.categories.component.elementHeadline') }}</h2>
        <sw-alert variant="info">
            {{ $tc('werkl-blog.elements.categories.component.infoText') }}
        </sw-alert>
    </div>
{% endblock %}
