### OSX
.DS_Store
.AppleDouble
.LSOverride

coverage
src/Resources/app/administration/coverage
src/Resources/app/administration/node_modules

## other stuff
/.idea
/vendor
composer.lock

src/Resources/app/administration/node_modules

src/Resources/app/storefront/dist/
src/Resources/app/storefront/node_modules

src/Resources/public/administration/css/
src/Resources/public/administration/js/