{% block sw_cms_element_blog_preview %}
    <div class="sw-cms-el-preview-blog">
        <p>Blog Listing Element</p>
        <hr>
        <div class="sw-cms-el-category-placeholder-listing">
            <div class="sw-cms-el-category-navigation__placeholder"></div>
            <hr>
            <div class="sw-cms-el-category-navigation__placeholder"></div>
            <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
            <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
        </div>
    </div>
{% endblock %}
