{% block sw_cms_element_blog_preview %}
    <div class="sw-cms-el-preview-blog">
        <h4>Blog Element</h4>
        <p>Daten werden automatisch aus dem Blog Modul gezogen.</p>
    </div>
{% endblock %}
