{% block sas_cms_preview_blog_single_entry %}
    <div class="sas-cms-preview-blog-single-entry">
       <div class="sas-cms-preview-blog-single-entry-item">
           <h2>{{ $tc('sas-blog.blocks.blog.singleEntry.previewTitle') }}</h2>
           <div>
               <time>{{ today }}</time>
               <div></div>
               <div></div>
           </div>
       </div>
    </div>
{% endblock %}
