{% block sas_blog_detail %}
    <sw-page class="sas-blog-list">
        <template slot="smart-bar-header">
            <h2 v-html="blog.title"></h2>
        </template>
        {% block sas_blog_detail_smart_bar_actions %}
            <template slot="smart-bar-actions">
                {% block sas_blog_list_smart_bar_actions_add %}
                    <sw-button variant="primary" @click="onClickSave()">
                        {{ $tc('sas-blog.detail.saveBlogEntry') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <template v-slot:content>
            <sw-card-view>
                <sw-card>
                    <sw-switch-field type="switch" :label="$tc('sas-blog.detail.activeLable')" v-model="blog.active"></sw-switch-field>
                    <sw-text-field
                        v-model="blog.title"
                        placeholder="Undefined"
                        required
                        :label="$tc('sas-blog.detail.titleLable')">
                    </sw-text-field>
                    <sw-text-field
                        v-model="blog.slug"
                        placeholder="Undefined"
                        required
                        disabled
                        :label="$tc('sas-blog.detail.slugLable')">
                    </sw-text-field>
                    <sw-textarea-field v-model="blog.content" type="textarea" :label="$tc('sas-blog.detail.contentLable')" placeholder="placeholder goes here..."></sw-textarea-field>
                </sw-card>
            </sw-card-view>
        </template>

    </sw-page>
{% endblock %}