{% block sas_cms_el_newest_listing %}
<div class="sas-cms-el-newest-listing">
    <h2>{{ $tc('sas-blog.elements.newestListing.component.elementHeadline') }}</h2>
    <sw-alert variant="info">
        {{ $tc('sas-blog.elements.newestListing.component.infoText') }}
    </sw-alert>
</div>
{% endblock %}
