{% block sas_blog_detail %}
    <article class="sas-blog-detail row"
             itemprop="article"
             itemscope
             itemtype="https://schema.org/Article">

        {% block sas_blog_detail_article_item_meta_published %}
            <meta itemprop="datePublished" content="{{ element.data.createdAt|date }}">
        {% endblock %}

        {% block page_product_detail_review_item_info_date %}
            <div class="col-12 sas-blog-detail-item-date">
                <p><small>{{ element.data.createdAt|date }}</small></p>
            </div>
        {% endblock %}

        {% block sas_blog_detail_article_blocks %}
            <div class="col-12 sas-blog-detail-article">
                <h1 class="sas-blog-detail-title" itemprop="headline">
                    {{ element.data.translated.title }}
                </h1>

                <div class="sas-blog-detail-article-meta">
                    {% if element.data.author %}
                        {% sw_include '@Storefront/storefront/component/blog/_partials/_block_author.html.twig' with {
                            author: element.data.author
                        } %}
                    {% endif %}

                    {% if element.data.blogCategories %}
                        {% sw_include '@Storefront/storefront/component/blog/_partials/_block_category.html.twig' with {
                            categories: element.data.blogCategories
                        } %}
                    {% endif %}
                </div>

                {% for block in element.data.translated.content.blocks %}
                    {% sw_include('@Storefront/storefront/component/blog/_partials/_block_' ~ block.type) ~ '.html.twig' %}
                {% endfor %}
            </div>
        {% endblock %}
    </article>
{% endblock %}
