{% block sas_cms_preview_blog_detail %}
    <div class="sas-cms-preview-blog-detail">
       <div class="sas-cms-preview-blog-detail-item">
           <h2>{{ $tc('sas-blog.blocks.blog.detail.previewTitle') }}</h2>
           <div>
               <time>{{ today }}</time>
               <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                   sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                   sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
           </div>
       </div>
    </div>
{% endblock %}
