{% block werkl_cms_element_newest_listing_preview %}
<div class="werkl-cms-el-preview-newest-listing">
    <p>Newest Listing Element</p>
    <hr>
    <div class="werkl-cms-el-category-placeholder-listing">
        <div class="werkl-cms-el-category-navigation__placeholder"></div>
        <hr>
        <div class="werkl-cms-el-category-navigation__placeholder"></div>
        <div class="werkl-cms-el-category-navigation__placeholder--subcategory"></div>
        <div class="werkl-cms-el-category-navigation__placeholder--subcategory"></div>
    </div>
</div>
{% endblock %}
