{% block sw_cms_element_categories_preview %}
    <div class="sw-cms-el-preview-categories">
        <p>Categories Element</p>
        <hr>
        <div class="sw-cms-el-category-placeholder-listing">
            <div class="sw-cms-el-category-navigation__placeholder"></div>
            <hr>
            <div class="sw-cms-el-category-navigation__placeholder"></div>
            <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
            <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
        </div>
    </div>
{% endblock %}
