{% block werkl_cms_element_blog_listing %}
    <div class="werkl-cms-el-blog-listing">
        <h2>{{ $tc('werkl-blog.elements.listing.component.elementHeadline') }}</h2>
        <sw-alert variant="info">
            {{ $tc('werkl-blog.elements.listing.component.infoText') }}
        </sw-alert>
    </div>
{% endblock %}
