{% block sw_cms_element_maps %}
    <div class="sas-cms-el-blog">
        <div class="sas-cms-el-blog__content">
            <h2>Blog</h2>
            <hr>
            <div class="sas-cms-el-blog-placeholder">
                <div class="sas-cms-el-blog__placeholder"></div>
                <div class="sas-cms-el-blog__placeholder"></div>
                <div class="sas-cms-el-blog__placeholder"></div>
                <div class="sas-cms-el-blog__placeholder"></div>
            </div>
        </div>
    </div>
{% endblock %}
