{% block werkl_cms_preview_blog_listing %}
    <div class="werkl-cms-preview-blog-listing">
       <div class="werkl-cms-preview-blog-listing-item">
           <h2>{{ $tc('werkl-blog.blocks.blog.listing.previewTitle') }}</h2>
           <div>
               <time>{{ today }}</time>
               <div></div>
               <div></div>
           </div>
           <div>
               <time>{{ today }}</time>
               <div></div>
               <div></div>
           </div>
       </div>
    </div>
{% endblock %}
