{% block werkl_cms_element_blog_detail_config %}
<div class="sw-cms-el-config-blog-detail">

    {% block werkl_cms_element_blog_detail_config_show_meta %}
        <sw-card
            :title="$tc('werkl-blog.elements.detail.config.showMeta.label')"
            :hero="false"
            :isLoading="false"
            :large="false"
            class="sw-blog-detail-config-filter">

            <sw-checkbox-field
                :label="$tc('werkl-blog.elements.detail.config.showMeta.showAuthor')"
                v-model:value="element.config.showAuthor.value">
            </sw-checkbox-field>

            <sw-checkbox-field
                :label="$tc('werkl-blog.elements.detail.config.showMeta.showCategory')"
                v-model:value="element.config.showCategory.value">
            </sw-checkbox-field>
        </sw-card>
    {% endblock %}

</div>
{% endblock %}
