{% block sas_cms_element_blog_single_select %}
    <div class="sas-cms-el-blog-single-select">
        <h6>{{ categoryName }}</h6>
        <h3>{{ title }}</h3>
        <img :src="articleImage" />
        <p>{{ teaser }}</p>
    </div>
{% endblock %}
