{% block sas_blog_list %}
    <sw-page class="sas-blog-list">
        <template #smart-bar-header>
            <h2 v-html="blog.title"></h2>
        </template>

        {% block sas_blog_detail_header_language_switch %}
            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage"></sw-language-switch>
            </template>
        {% endblock %}

        {% block sas_blog_detail_actions %}
            <template #smart-bar-actions>
                {% block sas_blog_detail_actions_edit %}
                    <sw-button v-if="!blogEditMode && !createMode"
                            variant="primary"
                            :disabled="isLoading || isOrderPage"
                            @click.prevent="onActivateBlogEditMode">
                        Editieren
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}


    </sw-page>
{% endblock %}