{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_blog_detail %}
        <div class="row justify-content-md-center cms-page blog-page-detail">
            <div class="col-7">
                {% block page_blog_detail_article %}
                    <article class="mb-5">
                        <h1>{{ entry.title }}</h1>
                        <span class="text-muted">{{ entry.createdAt|date("F d, Y") }}</span>
                        <div class="mt-4">
                            {{ entry.content }}
                        </div>
                    </article>
                {% endblock %}

                {% block page_blog_detail_disqus %}
                    {% if shopware.config.BlogModule.config.disqus|length %}
                        {% sw_include '@Storefront/page/blog/disqus.html.twig' %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
