{% block werkl_cms_preview_blog_categories %}
    <div class="werkl-cms-preview-blog-categories">
       <div class="werkl-cms-preview-blog-categories-item">
           <h2>{{ $tc('werkl-blog.blocks.blog.categories.previewTitle') }}</h2>
           <div>
               <time>{{ today }}</time>
               <div></div>
               <div></div>
           </div>
           <div>
               <time>{{ today }}</time>
               <div></div>
               <div></div>
           </div>
       </div>
    </div>
{% endblock %}
